@page
@model AplicationNetRazor.Pages.Cursos.IndexModel
@{
    ViewData["Title"] = "Lista de Cursos";
}



    <div class="card">
        <div class="card-header text-white bg-dark ">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="test-info">Listas de cursos</h2>
                </div>
                <div class="col-sm-6">
                    <a asp-page="Crear" class="btn btn-primary">Crear nuevo curso</a>
                </div>
            </div>
        </div>
        <div class="card-body bg-secondary">
            <form method="post">
            @if (Model.Cursos.Count() > 0)
            {
                <br /><br />
                <table class="table table-striped borfer">
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.Cursos.First().Id )</th>
                        <th>@Html.DisplayNameFor(m => m.Cursos.First().NombreCurso )</th>
                        <th>@Html.DisplayNameFor(m => m.Cursos.First().CantidadClases )</th>
                        <th>@Html.DisplayNameFor(m => m.Cursos.First().Precio )</th>
                        <th>@Html.DisplayNameFor(m => m.Cursos.First().FechaCreacion)</th>
                        <th>Acciones</th>
                    </tr>
                    @foreach(var item in Model.Cursos)
                    {
                        if (item.Eliminado == false)
                        {
                            <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.NombreCurso)</td>
                            <td>@Html.DisplayFor(m => item.CantidadClases)</td>
                            <td>@Html.DisplayFor(m => item.Precio)</td>
                            <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                            <td>
                                <a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-success btn-sm">Editar</a>
                                <a asp-page="Borrar" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Borrar</a>
                            </td>
                            </tr>
                        }
                        
                    }
                </table>
            }
            else
            {
                <p>No hay Cursos</p>
            }
            </form>
        </div>
    </div>
    @if(Model.Mensaje != null)
{
     <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Mensaje 
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}