@page
@model AplicationNetRazor.Pages.Alumnos.IndexModel
@{
    ViewData["Title"] = "Listado de Alumnos";
}


    <div class="row bg-dark text-white">
            <div class="card text-center border-dark p-3 mb-2 bg-secondary text-white" >
        <div class="card-header text-white bg-dark mb-3 " >
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="test-info ">Listas de Alumnos</h2>
                </div>
                <div class="col-sm-6">
                    <a asp-page="Crear" class="btn btn-success">Nuevo Alumno</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Alumnos.Count() > 0)
            {
               <br /><br />
                <table class="table table-striped borfer ">
                    <tr class="table table-striped table-dark text-white ">
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().idAlumno )</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Nombre )</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Apellido )</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Fecha_nac )</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Fecha_ing)</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Hora_ing)</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Cantidad_cursos)</th>
                        <th>@Html.DisplayNameFor(m => m.Alumnos.First().Fecha_egr)</th>
                        <th>Acciones</th>
                    </tr>
                    @foreach(var item in Model.Alumnos)
                    {
                        if (item.Eliminado == false)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.idAlumno)</td>
                                <td>@Html.DisplayFor(m => item.Nombre)</td>
                                <td>@Html.DisplayFor(m => item.Apellido)</td>
                                <td>@Html.DisplayFor(m => item.Fecha_nac)</td>
                                <td>@Html.DisplayFor(m => item.Fecha_ing)</td>
                                <td>@Html.DisplayFor(m => item.Hora_ing)</td>
                                <td>@Html.DisplayFor(m => item.Cantidad_cursos)</td>
                                <td>@Html.DisplayFor(m => item.Fecha_egr)</td>
                                <td>
                                    <a asp-route-id="@item.idAlumno" asp-page="Editar" class="btn btn-warning btn-sm">Editar</a>
                                    <a asp-page="Borrar" asp-route-id="@item.idAlumno" class="btn btn-danger btn-sm">Borrar</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>No hay Alumnos</p>
            }
        </div>
    </div>
    </div>
    @if(Model.Mensaje != null)
{
     <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Mensaje 
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
